# Visual Studio Code config
.vscode/

# text files for testing purpose
lab1/*.txt
lab1/*.TXT

# shell script for experiments and trying different stuff 
test.sh

# executables
tsig

# lab 3 and 4 simulation software + manuals
moss-simulator/

# LaTeX build files and compiled PDF documents
*.pdf
*.synctex.gz